
@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    background-image:   url(./assets/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
}
body{
    font-family: sans-serif;
    background-color: rgba(128, 128, 128, 0.185);
}